#### Project group 35 - Marcus Braunschweig Andersen, Ã˜yvin Moxness Konglevoll

In [17]:
import numpy as np
import pandas as pd 
import re
from collections import Counter 
import itertools
import matplotlib as plt
import csv
import string
import psycopg2
from IPython.display import Image

# Task 2

<img src="datascience.png">

## Design
For the design of our database we choose to split the dataset and fragment it. Instead of having long fields containing alot of information we create IDs to represent; 'domain', 'article', 'type', 'meta_keyword', 'time' and 'author'. All of these are then joined in a table which enables us to see which article the respective IDs are linked to. The reason for doing this is since alot of information, such as 'domain', 'timestamp' and 'type', occur many times in the dataset. Therefore we are able to begin with for instance evaluating a type and then the responding articles without having to run through all the articles to find the right type.

Using this structure also allows us to associate multiple data ID's with each ID, while still having these data separate. As an example some of the articles in our database have multiple authors, and this we represent by having an entry in the 'writers' relation pairing each of the writers to the 'articleID'.

To demonstrate that we have a working database, we will use the handed out function for executing SQL-queris in python.

In [18]:
# Function to access the database locally, and execute a query
# Make sure to change the username, databse and password
def execQuery(query):
    try:
        connection = psycopg2.connect(user = "postgres",
                                      password = "dataScience20",
                                      host = "localhost",
                                      port = "5432",
                                      database = "fakenews")
        cursor = connection.cursor()
        cursor.execute(query)
        record = cursor.fetchall()
        return record
    except (Exception, psycopg2.Error) as error :
        connection = False
        print ("Error while connecting to PostgreSQL", error)
    finally:
        if(connection):
            cursor.close()
            connection.close()
            print("Executed query and closed connection.")
            
numberOfArticles = execQuery("""SELECT count(articleid)
                                FROM articles;""")
print(numberOfArticles)

articleDomainsCount = execQuery("""SELECT count(domainID)
                                   FROM articleDomains;""")
print(articleDomainsCount)

differentTypes = execQuery("""SELECT *
                              FROM Typer; """)
print(differentTypes)

Executed query and closed connection.
[(979937,)]
Executed query and closed connection.
[(979937,)]
Executed query and closed connection.
[(0, 'rumor'), (1, 'hate'), (6, 'unreliable'), (10, 'conspiracy'), (14, 'clickbait'), (15, 'satire'), (27, 'fake'), (42, 'reliable'), (132, 'bias'), (136, 'political'), (351, 'junksci'), (397, 'NULL'), (628, 'unknown')]

As shown above, we have a database containing 979937 articles, and it supports simple queries, such as seeing all the different types all of the articles have. We used the '1mio-raw.csv' file, but in the cleaning process discarded all articles with faults in the articleID

# Task 3

## 3.1
### Relational algebra
\begin{align*}
    A &:= Articles\\
    B &:= DomainArticles\\
    D &:= \pi_{articleId}(A \bowtie_{Timestamps_{timstamp} \geq '2018-01-15 00:00:00.000000'}Timestamps) \\
    C &:= \pi_{DomainID}(D \bowtie B)\\
    E &:= \pi_{typeID}(\sigma_{type='reliable'}(Typer)) \\
    F &:= \pi_{Domain,DomainId}(\sigma_{Domains_{typeID='E'}})(Domains) \\
\end{align*}
The domains of news articles scraped at or after January 15, 2018, can now be found with
\begin{align*}
\Pi_{Domain}(F \bowtie  C)
\end{align*}

### SQL
``` mysql
SELECT DISTINCT domainet FROM domains 
WHERE typeid IN 
(SELECT typeid FROM Typer WHERE typen = 'reliable') AND 
domainID IN (SELECT domainID FROM articleDomains WHERE articleID IN 
(SELECT articleID FROM articles WHERE scrapedid IN 
(SELECT timeid FROM timestamps WHERE timstamp >= '2018-01-15 00:00:00.000000')));
```
Running the SQL-query:

In [19]:
domains = execQuery("""SELECT DISTINCT domainet FROM domains 
WHERE typeid IN 
(SELECT typeid FROM Typer WHERE typen = 'reliable') AND 
domainID IN (SELECT domainID FROM articleDomains WHERE articleID IN 
(SELECT articleID FROM articles WHERE scrapedid IN 
(SELECT timeid FROM timestamps WHERE timstamp >= '2018-01-15 00:00:00.000000')));""")
print(domains)

Executed query and closed connection.
[('christianpost.com',), ('consortiumnews.com',), ('nutritionfacts.org',)]

## 3.2
### Extended relational algebra
\begin{align*}
    A &:= Articles\\
    B &:= DomainArticles\\
    W &:= Writers\\
    X &:= \pi_{typeID}(\sigma_{type='fake'}(Typer))\\
    D &:= \pi_{DomainId}(\sigma_{Domains_{typeID='X'}})Domains)\\
    E &:= \pi_{ArticleID}(B \bowtie D) \\
    G &:= \gamma_{authorId, count(articleID)\rightarrow countA}(W \bowtie E) \\
    H &:= G_{Max(countA)} \\
    I &:= \Pi_{authorId}(\sigma_{countA \geq H}(G)) \\
\end{align*}

The name(s) of the most prolific author(s) of fake news articles can now be found with:
\begin{align*}\Pi_{authorName}(Authors \bowtie I)\end{align*}

### SQL
``` mysql
Select author_name from authors where authorID in (Select authorID from (Select authorID, count(articleid)
	From writers
	Where articleID in (SELECT ARTICLEID as X FROM articledomains WHERE DOMAINID IN 
			(SELECT DOMAINID FROM DOMAINs WHERE TYPEID = 
				(SELECT TYPEID FROM TYPER WHERE TYPEN = 'fake'))) AND authorID > 0
	Group by authorID) as mycount
	where count = (Select max(count) from (Select authorID, count(articleid)
	From writers
	Where articleID in (SELECT ARTICLEID as X FROM articledomains WHERE DOMAINID IN 
			(SELECT DOMAINID FROM DOMAINs WHERE TYPEID = 
				(SELECT TYPEID FROM TYPER WHERE TYPEN = 'fake'))) AND authorID > 0
	Group by authorID) as mycount));
```
Running the SQL query:

In [20]:
authors = execQuery("""Select author_name from authors where authorID in (Select authorID from (Select authorID, count(articleid)
	From writers
	Where articleID in (SELECT ARTICLEID as X FROM articledomains WHERE DOMAINID IN 
			(SELECT DOMAINID FROM DOMAINs WHERE TYPEID = 
				(SELECT TYPEID FROM TYPER WHERE TYPEN = 'fake'))) AND authorID > 0
	Group by authorID) as mycount
	where count = (Select max(count) from (Select authorID, count(articleid)
	From writers
	Where articleID in (SELECT ARTICLEID as X FROM articledomains WHERE DOMAINID IN 
			(SELECT DOMAINID FROM DOMAINs WHERE TYPEID = 
				(SELECT TYPEID FROM TYPER WHERE TYPEN = 'fake'))) AND authorID > 0
	Group by authorID) as mycount));""")
print(authors)

Executed query and closed connection.
[('john rolls',)]

## 3.3
We failed to write out this query succesfully, but this our attempt. It finds article ID's who share meta_keywordID's, and also shows the meta_keywordID they share
### SQL
``` mysql
WITH tags_small AS (SELECT * FROM articlemeta_keywords WHERE articleid <= 500 and meta_keywordID > 0),
     articles_small AS (SELECT DISTINCT articleid FROM tags_small)
	SELECT a1.meta_keywordID, a1.articleID AS a1, a2.articleID AS a2 FROM tags_small a1 JOIN tags_small a2 ON a1.articleID <> a2.articleID and a1.meta_keywordID = a2.meta_keywordID;
```
Running this query:

In [21]:
set_equi_join = execQuery("""WITH tags_small AS (SELECT * FROM articlemeta_keywords WHERE articleid <= 500 and meta_keywordID > 0),
     articles_small AS (SELECT DISTINCT articleid FROM tags_small)
	SELECT a1.meta_keywordID, a1.articleID AS a1, a2.articleID AS a2 FROM tags_small a1 JOIN tags_small a2 ON a1.articleID <> a2.articleID and a1.meta_keywordID = a2.meta_keywordID;""")
print(set_equi_join)

Executed query and closed connection.
[(12, 19, 20), (13, 19, 20), (14, 19, 20), (15, 19, 20), (16, 19, 20), (17, 19, 20), (18, 19, 20), (19, 19, 20), (12, 20, 19), (13, 20, 19), (14, 20, 19), (15, 20, 19), (16, 20, 19), (17, 20, 19), (18, 20, 19), (19, 20, 19), (27, 33, 99), (27, 33, 98), (37, 73, 138), (38, 73, 483), (38, 73, 138), (27, 98, 99), (27, 98, 33), (27, 99, 98), (27, 99, 33), (60, 109, 167), (61, 109, 167), (37, 138, 73), (38, 138, 483), (38, 138, 73), (64, 138, 483), (38, 483, 138), (38, 483, 73), (64, 483, 138), (60, 167, 109), (61, 167, 109)]

# Task 4
## Query 1:
Finding the fraction of 'fake news' articles, which have no listed author(s).

### SQL:
``` mysql
With fakeID as (SELECT typeID FROM Typer WHERE typen='fake'), 
fakeDomains as (SELECT domainID FROM domains WHERE typeID = (SELECT * FROM fakeID)), 
noAuthorID as (SELECT authorID FROM authors WHERE author_name = 'nan'),
fakeArticles as (SELECT articleID FROM articleDomains WHERE domainID IN (SELECT * from fakeDomains)),
noAuthorcount as (SELECT count(articleID) FROM writers WHERE articleID IN (SELECT * from fakeArticles) AND writers.authorID = (SELECT authorID FROM noAuthorID))
SELECT count(articleID) as totalFake, noAuthorCount.count as fakeNoAuthor
From fakeArticles, noAuthorcount
GROUP BY noAuthorCount.count;
```
Running the query:

In [22]:
fakeNoAuthors = execQuery("""With fakeID as (SELECT typeID FROM Typer WHERE typen='fake'), 
fakeDomains as (SELECT domainID FROM domains WHERE typeID = (SELECT * FROM fakeID)), 
noAuthorID as (SELECT authorID FROM authors WHERE author_name = 'nan'),
fakeArticles as (SELECT articleID FROM articleDomains WHERE domainID IN (SELECT * from fakeDomains)),
noAuthorcount as (SELECT count(articleID) FROM writers WHERE articleID IN (SELECT * from fakeArticles) AND writers.authorID = (SELECT authorID FROM noAuthorID))
SELECT count(articleID) as totalFake, noAuthorCount.count as fakeNoAuthor
From fakeArticles, noAuthorcount
GROUP BY noAuthorCount.count;
""")
print(fakeNoAuthors)
print("Ratio: ", fakeNoAuthors[0][1]/fakeNoAuthors[0][0])

Executed query and closed connection.
[(123788, 39466)]
Ratio:  0.31881927165799595

## Query 2:
Finding which domain has published the highest amount of 'reliable' articles.

### SQL:
``` mysql
WITH reliableID as (SELECT typeID FROM Typer WHERE typen='reliable'),
reliableDomains as (SELECT domainID FROM Domains WHERE typeID = (SELECT * from reliableID)),
reliableCount as (SELECT domainID, count(articleID) as count FROM articleDomains WHERE domainID IN (SELECT * FROM reliableDomains) GROUP BY domainID),
reliableIDMax as (SELECT domainID, count FROM reliableCount WHERE count = (SELECT MAX(count) FROM reliableCount))
SELECT domainet
from domains
where domainID = (SELECT domainID FROM reliableIDMax);
```
Running the query:

In [23]:
mostReliablesDomain = execQuery("""WITH reliableID as (SELECT typeID FROM Typer WHERE typen='reliable'),
reliableDomains as (SELECT domainID FROM Domains WHERE typeID = (SELECT * from reliableID)),
reliableCount as (SELECT domainID, count(articleID) as count FROM articleDomains WHERE domainID IN (SELECT * FROM reliableDomains) GROUP BY domainID),
reliableIDMax as (SELECT domainID, count FROM reliableCount WHERE count = (SELECT MAX(count) FROM reliableCount))
SELECT domainet
from domains
where domainID = (SELECT domainID FROM reliableIDMax);""")
print("Domain published the highest amount of reliable articles:", mostReliablesDomain[0][0])

Executed query and closed connection.
Domain published the highest amount of reliable articles: christianpost.com

## Query 3
Finding the most frequent tag in all 'fake news' articles.

### SQL:
``` mysql
With fakeID as (SELECT typeID FROM Typer WHERE typen='fake'), 
fakeDomains as (SELECT domainID FROM domains WHERE typeID = (SELECT * FROM fakeID)), 
fakeArticles as (SELECT articleID FROM articleDomains WHERE domainID IN (SELECT * from fakeDomains)),
tagCount as (SELECT count(articleID), tagID FROM articleTags WHERE tagID > 0 AND articleID IN (SELECT * FROM fakeArticles) GROUP BY tagID),
tagCountMax as (SELECT tagID, count FROM tagCount WHERE count = (SELECT MAX(count) FROM tagCount))
SELECT tag
FROM tags
WHERE tagID = (SELECT tagID from tagCountMAX);
```
Running the query:

In [24]:
mostFrequentTagInFakeNews = execQuery("""With fakeID as (SELECT typeID FROM Typer WHERE typen='fake'), 
fakeDomains as (SELECT domainID FROM domains WHERE typeID = (SELECT * FROM fakeID)), 
fakeArticles as (SELECT articleID FROM articleDomains WHERE domainID IN (SELECT * from fakeDomains)),
tagCount as (SELECT count(articleID), tagID FROM articleTags WHERE tagID > 0 AND articleID IN (SELECT * FROM fakeArticles) GROUP BY tagID),
tagCountMax as (SELECT tagID, count FROM tagCount WHERE count = (SELECT MAX(count) FROM tagCount))
SELECT tag
FROM tags
WHERE tagID = (SELECT tagID from tagCountMAX);""")
print("Most frequent tag in 'fake news' articles: ", mostFrequentTagInFakeNews[0][0])

Executed query and closed connection.
Most frequent tag in 'fake news' articles:  united states

# Task 5
## 5.1 Spider
In order to scrape wikinews for articles we have used the scrapy framework. Below is the code for our scrapy.Spider. The code uses two parse function, 'parse': extracts the links of articles from each page of listed articles corresponding to our group number. A call to 'parse_article' is the made for each link found, and then 'parse' is called recursively on the next page link until there are no more pages. 
'parse_article' extracts the data into these fields: 'url', 'title', 'date' and 'content', by using the XPath we found in the structure of an article page.

When creating the spider we spent some time understanding how the scrapy framework worked, and also understandig how to use HTML and XML properly in our spider as none of use had any prior knowledge with these.

In [ ]:
##CODE WILL NOT EXECUTE
def parse(self,response):
        for link in response.xpath('/html/body/div[3]/div[3]/div[4]/div[2]/div[2]/div/div/div/ul/li/a/@href').re(r'\/wiki\/[MNOPRSTUW]\S*'):
            link = response.urljoin(link)
            yield scrapy.Request(link, callback=self.parse_article)
        #print(links)
        
        next_page = response.xpath('/html/body/div[3]/div[3]/div[4]/div[2]/div[2]/a[2]/@href').get()
        if next_page is not None:
            next_page = response.urljoin(next_page)
            yield scrapy.Request(next_page, callback=self.parse)
        pass
    
    def parse_article(self, response):
        url = response.url
        title = response.xpath('//*[@id="firstHeading"]/text()').get()
        date = response.xpath('/html/body/div[3]/div[3]/div[4]/div/p[1]/strong/text()').get()
        raw_text = response.xpath('/html/body/div[3]/div[3]/div[4]/div/p').extract() 
        yield {
                "url" : url,
                "title": title,
                "date": date,
                "content": raw_text}

In total we get a dataset with 3595 rows each containing the four fields: 'url', 'title', 'date' and 'content'.